<!DOCTYPE html>
<html>

<head>
    <title>Three.js TypeScript Messing around by Simon Helson</title>
    <style>
        body {
            overflow: hidden;
            margin: 0px;
        }
    </style>
</head>

<body>
    <script type="module" src="dist/client/bundle.js"></script>
</body>

</html>
